body{
    display:flex;
    flex-direction: column;
}
.container-1 {
    display: flex;
    background-color: #1f2937;
    color: white;
}
.headers {
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    font-size: 24px;
    padding: 16px;
}
.linkbar {
    display:flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    padding: 16px 8px; 
}
.text {
    display:flex;
}
.container-2 {
    display: flex;
    background-color: aqua;
}
.container-3 {
    display: flex;
    background-color: black;
}
.container-4 {
    display: flex;
    background-color: black;
}
.container-5 {
    display: flex;
    background-color: aquamarine;
}